@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgba(74, 224, 247, 0.8);
  font-weight: 700;
}

.banner {
  background-image: url("https://i.ibb.co/wSr0KRW/banner.jpg");
  width: 100%;
  height: 105vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  isolation: isolate;
  background-attachment: fixed;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.665);
  z-index: -1;
}
